---
title: The second week
layout: default
hasSlides: true
today:
  assorted:
    - Review
    - Discuss reading
    - Reviewing a test plan template
    - Reviewing a report template
  theory:
    - End user
    - The open web
    - Subjectivity
    - Types of testing
  praxis:
    - Test planning
    - Reviewing Krug
    - Auditing accessibility
---
<% const part = '../../../partials/'; %>
<%- include(`${part}today`) %>
<%- include(`${part}section`, {
  id: 'lastWeek',
  style: 'slide-only',
  headline: 'Last Week',
  body: false,
  list: ["Accessibility is a good idea, and also it's the law.", "Usability is not the same as a bunch of other stuff (but it's close)", "'Heuristic evaluation' is just a fancy way of saying 'checklist of good ideas'", "Personas and Scenarios are tools for usability design and evaluation", "Two kinds of data: quantitative and qualitative", "Basic accessibility is basic"]
}) %>
<%- include(`${part}section`, {
  id: false,
  style: 'slide-only',
  headline: 'What did you think of the reading?',
  body: false,
  list: false
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: 'What goes into a test plan?',
  body: ["A test plan what you submit to get approval for the plan and/or buy-in from your team. You can always make adjustments to go above and beyond! Remember, qualitative data is exploratory.", "A comprehensive template is available at <a href='https://www.usability.gov/how-to-and-tools/resources/templates/usability-test-plan-template.html' target='_blank'>https://www.usability.gov/how-to-and-tools/resources/templates/usability-test-plan-template.html</a>"],
  list: false
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: 'Test plan template - the basics',
  body: false,
  list: ["Objective/Scope/Questions: what are you going to accomplish? What are you NOT going to accomplish? What are you trying to find out in order to accomplish your objective?", "Participants: who is going to take the test (and why have you selected them)?", "Methods: how are you going to generate data to answer your questions?", "Metrics: how are you going to measure your data?"]
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: 'Test plan template - not basic, but good to have',
  body: false,
  list: ["Executive summary: the whole plan, but in a couple paragraphs.", "Schedule and location", "Equipment", "Scenarios", "Roles: who's doing what?"]
}) %>
<%- include(`${part}section`, {
  id: false,
  style: 'slide-only',
  headline: 'Let`s break some of these down',
  body: false,
  list: false
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: 'Objective/Scope',
  body: ["You're probably not going to do a comprehensive usability test on a large website. You can test a set of features, or you can test for a set of issues. Define what these are and why you're addressing them."],
  list: false
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: 'Questions',
  body: ["Can users find <em>X</em>? Does <em>A</em> work better than <em>B</em>? Do users learn the interface in under <em>Y</em> amount of time?"],
  list: false
}) %>
<section>
  <div class="grid-x">
    <div class="cell large-6 large-offset-3 medium-10 medium-offset-1">
      <h3>Participants: Some magic numbers</h3>
      <p>Jakob Nielsen reports the ROI thresholds in different usability testing methods:</p>
      <table>
        <tr>
          <td>Quantitative</td>
          <td>>20</td>
        </tr>
        <tr>
          <td>Card sorting</td>
          <td>>15</td>
        </tr>
        <tr>
          <td>Eyetracking</td>
          <td>39</td>
        </tr>
        <tr>
          <td>Heuristics</td>
          <td>4 experts</td>
        </tr>
        <tr>
          <td><strong>Qualitative</strong></td>
          <td><strong>5</strong></td>
        </tr>
      </table>
    </div>
  </div>
</section>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: 'Methods',
  body: ["Define your procedure, testing type, tools, and tasks.", "Testing type may be heuristics, eyetracking, discovery (finding problems), benchmark (evaluating solutions), moderated, remote, system usability scale (survey), 5-second, First-click, etc., etc., etc."],
  list: false
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: 'Metrics',
  body: ["What is the data you'll be collecting? How should it be measured? How can you be sure it fully answers your questions?", "This is probably the <strong>most important part of your plan</strong>."],
  list: false
}) %>
<%- include(`${part}section`, {
  id: false,
  style: false,
  headline: 'Metrics',
  body: ["What is the data you'll be collecting? How should it be measured? How can you be sure it fully answers your questions?", "This is probably the <strong>most important part of your plan</strong>."],
  list: false
}) %>
<section>
  <div class="grid-x">
    <div class="cell large-6 large-offset-3 medium-10 medium-offset-1">
      <h3>Examples</h3>
      <ul>
        <li class="fragment"><a href="http://danielleklein.ca/wp-content/uploads/2016/08/Usability-test-plan-CSI.pdf" target="_blank">Centre for Social Innovation website</a></li>
        <li class="fragment"><a href="https://static1.squarespace.com/static/55c3cc6be4b0ae48388c8605/t/57706d692994cae381d96fb5/1466985833818/lmb_usability_test_plan.pdf" target="_blank">Mobile app test plan</a></li>
        <li class="fragment"><a href="http://booksite.mkp.com/barnum/testingessentials/pdfs/BWB_test_plan.pdf" target="_blank">Better World Books website</a></li>
        <li class="fragment">Bonus: <a href="https://medium.com/@userfocus/the-1-page-usability-test-plan-dbc8c3d7fb54" target="_blank">Cheat Sheet</a></li>
      </ul>
    </div>
  </div>
</section>
<%- include(`${part}section`, {
  id: false,
  style: 'slide-only',
  headline: 'Usability report template',
  body: false,
  list: false
}) %>
<%- include(`${part}section`, {
  id: false,
  style: 'slide-only',
  headline: 'An activity!',
  body: false,
  list: false
}) %>

<%#- include(`${part}section`, {
  id: 'identification',
  headline: 'headline',
  body: ["ok ok ok", "here's what we doin"]
}); %>

<!-- https://www.usability.gov/how-to-and-tools/resources/templates/report-template-usability-test.html -->