<!DOCTYPE html>
<html lang="en-US">
<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="<%= site.basePath %>/assets/css/reveal.css">
  <link rel="stylesheet" href="<%= site.basePath %>/assets/css/solarized.css">
  <style>
  	.slides > :not(section) {
  		display: none;
  	}
  	li > ol {
		list-style-type: lower-alpha; 
  	}
  </style>
</head>
<body>
  
	<div class="reveal">
		<div class="slides">
	      	<section>
	      		<h1><%= page.title %></h1>
	      	</section>
			<%- body %>	
		</div>
	</div>

<script src="<%= site.basePath %>/assets/javascript/reveal.js"></script>
<script>
      Reveal.initialize();
    </script>
</body>
</html>
